/*****************************************************************************/
/* Common
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font: 16px Helvetica, Arial, sans-serif;
}

h1, h2 {
  margin: 15px 0 10px;
  font-weight: normal;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  color: #444;
}

h3 {
  font-size: 24px;
  color: #444;
}

p {
  margin: 8px 0;
}

a {
  color: #7d7dbd;
  text-decoration: none;
}

a:hover {
    color: #1623be;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  width: 960px;
  margin: 0 auto;
}

.header {
  line-height: 50px;
}

.header__title {
  margin: 0;
  font-size: 18px;
  display: inline-block;
}

.header__title a {
  color: #fff;
  display: inline-block;
}

.header__links {
  font-size: 18px;
  display: inline-block;
}

.header__link {
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
  color: #ccc;
}

.header__link:hover {
  color: #fff;
}

.header__link img {
  vertical-align: middle;
}

.header__bg {
  background-color: #000;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 20px;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post__header a {
    color: inherit;
}

.post__comments {
    margin-top: 20px;
}

.post__date {
  color: #aaa;
}
