/*****************************************************************************/
/* Common
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: #fff;
  font: 16px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2 {
  margin: 15px 0 5px;
  line-height: 1.40;
  font-weight: normal;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  color: #444;
}

h3 {
  font-size: 24px;
  color: #444;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
}

p, ol, ul,
.post__container,
.highlight {
  margin-bottom: 15px;
}

a {
  color: #404ebe;
  text-decoration: none;
}

a:hover {
  color: orange;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 32px;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

.header__inner,
.footer,
.site {
  margin: 0 auto;
  max-width: 960px;
}

.header__inner,
.site {
  padding: 0 15px;
  position: relative;
}

.pagination {
  text-align: center;
}

.header {
  line-height: 50px;
  background-color: #6a289e;
  height: 50px;
  overflow: hidden;
}

.header__logo {
  border-radius: 5px;
  position: absolute;
  left: -38px;
  top: 3px;

  -webkit-transition: left .5s;
          transition: left .5s;
}

@media screen and (max-width: 1080px) {
  .header__logo {
    left: -100px;
  }
}

.header__title {
  margin: 0;
  font-size: 18px;
  display: inline-block;
}

.header__title a {
  color: #fff;
  display: inline-block;
}

.header__links {
  font-size: 18px;
  display: inline-block;
}

.header__link {
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
  color: #ccc;
}

.header__link:hover {
  color: #fff;
}

.header__link iframe,
.header__link img {
  vertical-align: middle;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 20px;
  overflow: hidden;
  padding-top: 10px;
}

.footer__contact {
  font-style: normal;
  float: left;
  margin-right: 3em;
}

.right-side {
  width: 170px;
  height: 620px;
  background-color: orange;
  position: absolute;
  top: -45px;
  left: -115px;

  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);

  -webkit-transition: left .5s;
          transition: left .5s;

  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .right-side {
    left: -175px;
  }
}

@media screen and (max-width: 1040px) {
  .right-side {
    left: -220px;
  }
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

.posts__header a {
  color: inherit;
}

.posts__post {
  margin-bottom: 20px;
}

.posts__date,
.post__date {
  color: #aaa;
  float: right;
}

.post pre,
.post code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  font-size: 14px;
}

.post pre {
  padding: 5px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-all;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  padding: 0 4px;
  border-radius: 3px;
}

.post pre code {
  border: none;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
}

.post pre.terminal code {
  background-color: #333;
}

.post__header a {
  color: inherit;
}

.posts__content img,
.post__content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 3px;
  border: 1px solid #ddd;
}

.post__comments {
  margin-top: 20px;
}

.post__container {
  position: relative;
}

.post__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post__placeholder_4x3 {
  padding-bottom: 75%;
}

.post__placeholder_16x9 {
  padding-bottom: 56%;
}
