<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/syntax.css">

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>
<body>

<header class="header">
  <div class="header__inner">
    <h1 class="header__title">
      <a href="/">{{ site.name }}</a>
    </h1>

    <nav class="header__links">
      <a class="header__link" href="/">blog</a>
      <a class="header__link"
         href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fwww.rudeshko.com%2Ffeed.xml"
         target="blank" title="read me in feedly">
        <img src="/img/feedly.png" alt="read me in feedly" width="66" height="20">
      </a>
    </nav>
  </div>
</header>

<div class="site">
  {{ content }}
</div>

<footer class="footer">
  <div class="footer__contact">
    <p>
      Anton Rudeshko<br/>
      Web Developer at Yandex<br/>
      <a href="mailto:{{ site.contacts.email }}">{{ site.contacts.email }}</a>
    </p>
  </div>

  <div class="footer__contact">
    <p>
      <a href="https://github.com/{{ site.contacts.github }}">github.com/{{ site.contacts.github }}</a><br/>
      <a href="https://twitter.com/{{ site.contacts.twitter }}">twitter.com/{{ site.contacts.twitter }}</a><br/>
      <a href="https://plus.google.com/+{{ site.contacts.gplus }}/about">google.com/+{{ site.contacts.gplus }}</a><br/>
    </p>
  </div>
</footer>

<div class="right-side"></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30845013-4', 'rudeshko.com');
  ga('send', 'pageview');
</script>

</body>
</html>
