<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    </head>
    <body>
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Anton Rudeshko<br />
                Web Developer at Yandex<br />
                <a href="mailto:anton@rudeshko.com">anton@rudeshko.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.contacts.github }}">github.com/{{ site.contacts.github }}</a><br />
                <a href="https://twitter.com/{{ site.contacts.twitter }}">twitter.com/{{ site.contacts.twitter }}</a><br />
              </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fanton-rudeshko.github.io%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-small_2x.png" alt="read me in feedly" width="66" height="20"></a>
                </p>
            </div>
          </div>
        </div>
        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30845013-1']);
            _gaq.push(['_trackPageview']);
        
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </body>
</html>
