---
layout: default
---
<div class="post">
  <header>
    <a class="post__edit" href="http://github.com/anton-rudeshko/anton-rudeshko.github.io/edit/master/{{ page.path }}">edit</a>
    <a href="{{ page.url }}" class="posts__date">{{ page.date | date_to_string }}</a>

    <h1 class="post__header"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>

  <article class="post__content">
    {{ content }}
  </article>

  <div class="post__comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'rudeshko';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
